<nav>
    <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div>
        <h1>Social</h1>
        <a href="{{ site.gitlab_url }}">GitLab</a>
        <a href="https://github.com/{{ site.github_username }}">GitHub</a>
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    </div>
    <div>
        <h1>Projects</h1>
        <a href="https://multimc.org">MultiMC</a>
        <a href="https://mcarchive.net">MCArchive</a>
    </div>
    <div>
        <h1>Other</h1>
        <a href="{% link tictactoe.html %}">Tic-Tac-Toe</a>
    </div>
</nav>

