<nav>
    <a class="logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div>
        <h1>Social</h1>
        <a href="https://github.com/Forkk">GitHub</a>
        <a href="https://twitter.com/Forkk13">Twitter</a>
    </div>
    <div>
        <h1>Projects</h1>
        <a href="https://multimc.org">MultiMC</a>
        <a href="https://mcarchive.net">MCArchive</a>
    </div>
    {% comment %}
    <div>
        <h1>Other</h1>
        <a href="#">Old Blog</a>
    </div>
    {% endcomment %}
</nav>

